.review {
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.title {
    color: yellow;
    width: 80%;
    height: 10vh;
    box-sizing: border-box;
    padding-left: 5%;
}
.title h2, h3 {
    margin: 0;
}

.reviewContent {
    margin: 0 auto;
    top: 50%;
    align-self: center;
    width: 80%;
    background-color: darkgrey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.reviewAuthor {
    background-color: yellow;
    width: 200px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar {
    background-color: black;
    width: 40px;
    height: 40px;
}

.author {
    display: flex;
    flex-direction: column;
}

.companies {
    background-color: gray;
    width: 100%;
    min-height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 5px;
}

.company {
    background-color: yellow;
    height: 150px;
    width: 150px;
}





/* xl (>=1200) */
@media (min-width: 1200px) {

}
/* lg (>=992 & <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {

}
/* md (>=768 & <=991) */
@media (min-width: 768px) and (max-width: 991px) {

}
/* sm (>=576 & <=767) */
@media (min-width: 576px) and (max-width: 767px) {

}
/* xs (<=543px) */
@media (max-width: 575px) {

}