.portfolio {
  min-height: 100vh;
  width: 100vm;
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .title {
    min-height: 300px;
    max-height: 100vh;
    background-color: #251170;
    min-width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .container {
    min-width: 300px;
    box-sizing: border-box;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5%;
    position: relative;
    min-height: 1px;

    .projects {
      width: 80%;
      display: flex;
      justify-content: space-evenly;
      flex-direction: row;
      flex-wrap: wrap;
      position: absolute;
      top: 8%;

      & a {
        background-color: transparent;
        color: #fff;
        font-family: Poppins, sans-serif;
        margin: 0;
        font-size: 24px;
        position: relative;
        padding-bottom: 2px;
        text-decoration: none;
      }

      .hover {

        &:hover:after {
          visibility: visible;
          transform: scaleX(1);
        }

        &:after {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          left: 0;
          bottom: 0;
          visibility: hidden;
          background-color: #eb83f8;
          transition: all .3s ease;
          transform: scaleX(0);
        }

      }

      .active {

        &:before {
          content: "";
          position: absolute;
          height: 2px;
          width: 100%;
          left: 0;
          bottom: 0;
          background-color: #eb83f8;
          visibility: visible;
        }
      }
    }

    .content {

      .wrapper {
        max-height: 662.4px;
        margin-top: 20px;

        .simpleProject {
          width: 50%;
        }

        .allProjects {
          width: 33.3%;
        }

        .item {
          margin-bottom: 10px;
          display: inline-block;
          padding: 0 5px;
          position: relative;
          cursor: pointer;

          .animated {
            /*opacity: 1;
            height: auto;
            animation-duration: 1s;
            animation-fill-mode: both;
            animation-name: fadeIn;*/

            .screensAllProjects {
              height: 289.8px;
            }

            .screensSimpleProjects {
              max-height: 828px;
            }

            .screensProjects {
              width: 100%;
              max-width: 100%;
              object-fit: cover;
              vertical-align: middle;
              /*margin-bottom: 0;
              border: 0;*/
            }

            .tilt {
              /*position: absolute;
              height: 100%;
              width: 100%;
              top: 0;
              transform: perspective(1000px) rotateX(0deg) rotateY(0deg) scale3d(1, 1, 1);
              transition: all 1000ms cubic-bezier(0.03, 0.98, 0.52, 0.99) 0s;*/

              .overlay2 {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .5s;
                position: absolute;
                top: 10%;
                left: 10%;
                height: 80%;
                width: 80%;
                opacity: 0;
              }

              &:hover .overlay2 {
                opacity: 1;
              }

              .overlay {
                display: flex;
                justify-content: center;
                align-items: center;
                transition: .5s;
                position: absolute;
                top: 10%;
                left: 10%;
                height: 80%;
                width: 80%;
                background-color: #eb83f8;
                opacity: 0;

                .projectTitle {
                  z-index: 100;
                  color: #fff;
                  font-size: 20px;
                  text-align: center;
                  font-family: Poppins, sans-serif;
                }
              }

              &:hover .overlay {
                opacity: 1;
              }


            }
          }
        }
      }
    }
  }

  @media (max-width: 575px) {
    height: 200vh;
    overflow: hidden;

    .title {
      margin-left: 35px;
      background-color: black;
      width: 100%;
      min-height: 150px;
      transform: none;
    }

    .container {
      padding: 0;
      height: 180vh;
      background-color: black;

      .projects {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        top: 0;

        & a {
          margin-top: 20px;
        }
      }

      .content {

        .wrapper {
          margin-top: 80px;
          display: flex;
          flex-direction: column;
          justify-content: space-around;
          height: 140vh;
          max-height: 100%;

          .allProjects {
            width: 100%;
          }

          .item {

            .animated {

              .screensAllProjects {
                height: 200px;
              }
            }
          }
        }
      }
    }
  }
}


@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/* xl (>=1200) */
@media (min-width: 1200px) {
  .portfolio {
    flex-wrap: nowrap;
  }
  .title {
    min-width: 300px;
  }
}

/* lg (>=992 & <=1199) */
@media (min-width: 992px) and (max-width: 1199px) {
  .title {
    width: 100%;
    writing-mode: horizontal-tb;
    transform: none;
  }
}

/* md (>=768 & <=991) */
@media (min-width: 768px) and (max-width: 991px) {
  .title {
    width: 100%;
    writing-mode: horizontal-tb;
    transform: none;
  }
}

/* sm (>=576 & <=767) */
@media (min-width: 576px) and (max-width: 767px) {
  .title {
    width: 100%;
    min-height: 150px;
    writing-mode: horizontal-tb;
    transform: none;
  }
  .container {
    height: 100%;
  }
}

