*, :after, :before {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  background-color: black;
  box-sizing: border-box;

  .content {
    width: 91%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    .container {
      z-index: 50;
      position: relative;
      width: 45vw;
      height: 45vw;
      min-width: 300px;
      min-height: 300px;
      background-color: #251170;
      display: flex;
      flex-direction: column;
      justify-content: center;
      box-sizing: border-box;
      padding-left: 5%;
      overflow: hidden;

      & h4 {
        color: #fff;
        font-family: Poppins, sans-serif;
        font-size: 22px;
        font-weight: 500;
        position: relative;
        left: 110px;
        flex-basis: inherit;

        &::after {
          content: "";
          height: 3px;
          width: 90px;
          display: block;
          background-color: #eb83f8;
          position: absolute;
          left: -108px;
          top: 15px;
        }
      }

      .glitch {
        margin-top: 30px;
        font-size: 80px;
        line-height: 80px;
        position: relative;
        color: #fff;
        font-weight: 900;
        font-family: Poppins, sans-serif;
        animation: glitch-skew 1s linear infinite alternate-reverse;

        &::after, &::before {
          content: attr(data-text);
          position: absolute;
          top: 0;
          width: 100%;
          height: 100%;
        }

        &::before {
          left: 2px;
          text-shadow: -2px 0 #ff00c1;
          clip: rect(44px, 450px, 56px, 0);
          animation: glitch-anim 5s linear infinite alternate-reverse;
        }

        &::after {
          left: -2px;
          text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
          animation: glitch-anim2 1s linear infinite alternate-reverse;
        }
      }

      .text {
        margin-top: 30px;
        width: 20ch;
        letter-spacing: 1px;
        color: white;
        font-size: 33px;
        font-weight: 700;
        white-space: nowrap;
        overflow: hidden;
        border-right: 5px solid #ff00c1;
        animation: cursor 0.15s step-start, printed_text 4s steps(30);
        animation-direction: alternate;
        animation-iteration-count: infinite;
      }

      .link {
        background-color: transparent;
        width: 180px;
        height: 50px;
        text-transform: uppercase;
        line-height: 50px;
        font-size: 15px;
        letter-spacing: 4px;
        cursor: pointer;
        outline: none;
        text-decoration: none;
        color: #FFFFFF;
      }

      .hoverButton {
        margin: 20px 0 0 0;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 180px;
        height: 50px;
        background: #000;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        line-height: 50px;
        color: #fff;
        font-size: 20px;
        letter-spacing: 4px;
        border: none;
        overflow: visible;

        & span {
          font-size: 15px;
          width: 100%;
        }
      }

      img {
        width: auto;
        height: 40px;
        position: absolute;
        object-fit: cover;
        z-index: -1000;
      }

      .moveDown {
        animation: down 5s infinite alternate
      }

      .moveUp {
        animation: up 5s infinite alternate
      }
    }

    @media (min-width: 992px) and (max-width: 1199px) {
      .container {
        justify-content: flex-start;

        .glitch {
          font-size: 40px;
          margin: 0;
          padding: 0;
        }

        .text {
          font-size: 30px;
          margin: 0;
          padding: 0;
        }

        img {
          height: 30px;
          width: auto;
        }
      }
    }
    @media (min-width: 768px) and (max-width: 991px) {
      .container {
        justify-content: flex-start;
        align-items: flex-start;

        .glitch {
          font-size: 30px;
          margin: 0;
          padding: 0;
        }

        .text {
          font-size: 25px;
          margin: 0;
          padding: 0;
        }

        img {
          height: 30px;
          width: auto;
        }
      }
    }
    @media (min-width: 576px) and (max-width: 767px) {
      .container {
        justify-content: flex-start;
        align-items: flex-start;

        .glitch {
          font-size: 30px;
          margin: 0;
          padding: 0;
        }

        .text {
          font-size: 25px;
          margin: 0;
          padding: 0;
        }

        img {
          height: 20px;
          width: auto;
        }
      }
    }

    .photo {
      width: 45vw;
      height: 45vw;
      min-width: 300px;
      min-height: 300px;
      background-color: darkgray;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;

      & img {
        object-fit: cover;
        width: 100%;
        height: 100%;
      }
    }
  }

  @media (max-width: 575px) {
    .content {

      .container {
        justify-content: flex-start;
        align-items: flex-start;

        .glitch {
          font-size: 30px;
          margin: 0;
          padding: 0;
        }

        .text {
          font-size: 25px;
          margin: 0;
          padding: 0;
        }

        img {
          height: 20px;
          width: auto;
        }
      }
    }
  }
}




@keyframes cursor {
  0% {
    border-color: #ff00c1;
  }
  50% {
    border-color: transparent;
  }
  100% {
    border-color: #ff00c1;
  }
}

@keyframes printed_text {
  from {
    width: 0;
  }
}

@keyframes glitch-skew {
  0% {
    transform: skew(-3deg)
  }
  10% {
    transform: skew(-4deg)
  }
  20% {
    transform: skew(1deg)
  }
  30% {
    transform: skew(4deg)
  }
  40% {
    transform: skew(2deg)
  }
  50% {
    transform: skew(-3deg)
  }
  60% {
    transform: skew(1deg)
  }
  70% {
    transform: skew(5deg)
  }
  80% {
    transform: skew(0deg)
  }
  90% {
    transform: skew(4deg)
  }
  to {
    transform: skew(5deg)
  }
}

@keyframes glitch-anim {
  0% {
    clip: rect(85px, 9999px, 45px, 0);
    transform: skew(.54deg)
  }
  5% {
    clip: rect(68px, 9999px, 61px, 0);
    transform: skew(.12deg)
  }
  10% {
    clip: rect(78px, 9999px, 54px, 0);
    transform: skew(.64deg)
  }
  15% {
    clip: rect(13px, 9999px, 72px, 0);
    transform: skew(.84deg)
  }
  20% {
    clip: rect(91px, 9999px, 24px, 0);
    transform: skew(.54deg)
  }
  25% {
    clip: rect(42px, 9999px, 28px, 0);
    transform: skew(.97deg)
  }
  30% {
    clip: rect(97px, 9999px, 13px, 0);
    transform: skew(1deg)
  }
  35% {
    clip: rect(92px, 9999px, 64px, 0);
    transform: skew(.26deg)
  }
  40% {
    clip: rect(88px, 9999px, 48px, 0);
    transform: skew(.86deg)
  }
  45% {
    clip: rect(90px, 9999px, 24px, 0);
    transform: skew(.82deg)
  }
  50% {
    clip: rect(81px, 9999px, 5px, 0);
    transform: skew(.96deg)
  }
  55% {
    clip: rect(45px, 9999px, 78px, 0);
    transform: skew(.05deg)
  }
  60% {
    clip: rect(90px, 9999px, 99px, 0);
    transform: skew(.2deg)
  }
  65% {
    clip: rect(16px, 9999px, 66px, 0);
    transform: skew(.39deg)
  }
  70% {
    clip: rect(72px, 9999px, 82px, 0);
    transform: skew(.56deg)
  }
  75% {
    clip: rect(8px, 9999px, 8px, 0);
    transform: skew(.81deg)
  }
  80% {
    clip: rect(37px, 9999px, 62px, 0);
    transform: skew(.24deg)
  }
  85% {
    clip: rect(62px, 9999px, 59px, 0);
    transform: skew(.47deg)
  }
  90% {
    clip: rect(77px, 9999px, 14px, 0);
    transform: skew(.39deg)
  }
  95% {
    clip: rect(99px, 9999px, 91px, 0);
    transform: skew(.9deg)
  }
  to {
    clip: rect(78px, 9999px, 30px, 0);
    transform: skew(.51deg)
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(55px, 9999px, 29px, 0);
    transform: skew(.59deg)
  }
  5% {
    clip: rect(55px, 9999px, 30px, 0);
    transform: skew(.49deg)
  }
  10% {
    clip: rect(69px, 9999px, 5px, 0);
    transform: skew(.06deg)
  }
  15% {
    clip: rect(16px, 9999px, 58px, 0);
    transform: skew(.41deg)
  }
  20% {
    clip: rect(42px, 9999px, 8px, 0);
    transform: skew(.57deg)
  }
  25% {
    clip: rect(46px, 9999px, 36px, 0);
    transform: skew(.71deg)
  }
  30% {
    clip: rect(39px, 9999px, 33px, 0);
    transform: skew(.09deg)
  }
  35% {
    clip: rect(69px, 9999px, 81px, 0);
    transform: skew(.3deg)
  }
  40% {
    clip: rect(73px, 9999px, 20px, 0);
    transform: skew(.71deg)
  }
  45% {
    clip: rect(94px, 9999px, 90px, 0);
    transform: skew(.32deg)
  }
  50% {
    clip: rect(54px, 9999px, 93px, 0);
    transform: skew(.16deg)
  }
  55% {
    clip: rect(60px, 9999px, 12px, 0);
    transform: skew(.05deg)
  }
  60% {
    clip: rect(69px, 9999px, 69px, 0);
    transform: skew(.03deg)
  }
  65% {
    clip: rect(16px, 9999px, 43px, 0);
    transform: skew(.69deg)
  }
  70% {
    clip: rect(69px, 9999px, 55px, 0);
    transform: skew(.97deg)
  }
  75% {
    clip: rect(11px, 9999px, 39px, 0);
    transform: skew(.05deg)
  }
  80% {
    clip: rect(2px, 9999px, 41px, 0);
    transform: skew(.27deg)
  }
  85% {
    clip: rect(62px, 9999px, 72px, 0);
    transform: skew(.46deg)
  }
  90% {
    clip: rect(39px, 9999px, 94px, 0);
    transform: skew(.45deg)
  }
  95% {
    clip: rect(43px, 9999px, 65px, 0);
    transform: skew(.63deg)
  }
  to {
    clip: rect(67px, 9999px, 57px, 0);
    transform: skew(.33deg)
  }
}

@keyframes up {
  0% {
    transform: translateY(0)
  }
  to {
    transform: translateY(-7vh)
  }
}

@keyframes down {
  0% {
    transform: translateY(0)
  }
  to {
    transform: translateY(7vh)
  }
}











