* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Poppins, sans-serif;
}

*, :after, :before {
  box-sizing: border-box;
}

.appContainer {
  position: relative;
  overflow: hidden;

  .hamburgerMenu {
    position: absolute;
    top: 0;
    left: 65px;
  }
}


@media (max-width: 990px) {
  .appContainer {

    .hamburgerMenu {
      position: fixed;
      z-index: 9999;
      top: 0;
      left: 315px;
    }
  }
}



